{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | GovCashFlow</title>
    <link rel="stylesheet" href="{% static 'styles/fontawesome/all.min.css' %}">
    <link href="{% static 'styles/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body>
    <div class="page">
        {% if messages %}
        {% for message in messages %}
        <div class="m-0 rounded-0 alert text-{{ message.tag }}" role="alert">
            <div class="container">
                <i class="fa-solid fa-{% if message.tags == 'warning' %}warning{% else %}thumbs-up{% endif %} me-1"></i>
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        <header class="navbar navbar-expand-md navbar-light d-print-none">
            <div class="container-xl">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                    <a href="/" class="text-decoration-none">
                        Revenue Dashboard
                    </a>
                </h1>
                <div class="navbar-nav flex-row order-md-last">
                    {% block navbar-action %}
                    <div class="nav-item dropdown">
                        <a href="#" class="btn btn-primary" data-bs-toggle="dropdown" aria-label="Open menu">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <line x1="12" y1="5" x2="12" y2="19" />
                                <line x1="5" y1="12" x2="19" y2="12" />
                            </svg>
                            Create New
                        </a>
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                            <a href="{% url 'revenue_categories' %}" class="dropdown-item">Revenue Category</a>
                            <a href="{% url 'revenue_sources' %}" class="dropdown-item">Revenue Source</a>
                        </div>
                    </div>
                    {% endblock navbar-action %}
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <div class="d-flex flex-column flex-md-row flex-fill align-items-stretch align-items-md-center">
                        {% block navbar %}
                        <ul class="navbar-nav">
                            {% url 'home' as home_url %}
                            <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                                <a class="nav-link" href="{{ home_url }}">
                                    <span
                                        class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                            <polyline points="5 12 3 12 12 3 21 12 19 12" />
                                            <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                                            <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                                        </svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Home
                                    </span>
                                </a>
                            </li>
                            {% url 'tax_payer_list' as tax_payer_list_url %}
                            <li class="nav-item {% if request.path == tax_payer_list_url %}active{% endif %}">
                                <a class="nav-link" href="{{ tax_payer_list_url }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-users" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0"></path>
                                            <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2"></path>
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                            <path d="M21 21v-2a4 4 0 0 0 -3 -3.85"></path>
                                        </svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Tax Payers
                                    </span>
                                </a>
                            </li>
                            {% url 'transaction_list' as transaction_list_url %}
                            <li class="nav-item {% if request.path == transaction_list_url %}active{% endif %}">
                                <a class="nav-link" href="{{ transaction_list_url }}">
                                    <span class="nav-link-icon d-md-none d-lg-inline-block">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                            class="icon icon-tabler icon-tabler-receipt-tax" width="24" height="24"
                                            viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                            stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M9 14l6 -6"></path>
                                            <circle cx="9.5" cy="8.5" r=".5" fill="currentColor"></circle>
                                            <circle cx="14.5" cy="13.5" r=".5" fill="currentColor"></circle>
                                            <path
                                                d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2">
                                            </path>
                                        </svg>
                                    </span>
                                    <span class="nav-link-title">
                                        Revenue Transactions
                                    </span>
                                </a>
                            </li>
                        </ul>
                        {% endblock navbar %}
                    </div>
                </div>
            </div>
        </header>
        <div class="page-wrapper">
            <div class="container-xl">
                {% block content %}{% endblock content %}
            </div>
        </div>
        <footer class="footer footer-transparent d-print-none">
            <div class="container-xl">
                <div class="row text-center align-items-center flex-row-reverse">
                    <div class="col-lg-auto ms-lg-auto">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                <!-- Download SVG icon from http://tabler-icons.io/i/heart -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon text-pink icon-filled icon-inline"
                                    width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                                    fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                    <path
                                        d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                                </svg>
                                Final Year Project
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 col-lg-auto mt-3 mt-lg-0">
                        <ul class="list-inline list-inline-dots mb-0">
                            <li class="list-inline-item">
                                Copyright &copy; {% now "Y" %}
                                <a href="." class="link-secondary">Nkanu L.G.A</a>.
                                All rights reserved.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var ctx = document.getElementById("transactions-chart").getContext("2d");

            var revenueSources = [
                {% for source in revenue_sources_with_transaction_count %}
                    "{{ source.name }}",
            {% endfor %}
            ];

        var transactionCounts = [
            {% for source in revenue_sources_with_transaction_count %}
        { { source.transaction_count } },
        {% endfor %}
            ];

        new Chart(ctx, {
            type: "bar",
            data: {
                labels: revenueSources,
                datasets: [{
                    label: "Transactions",
                    data: transactionCounts,
                    backgroundColor: "#206bc4",
                    borderColor: 'rgba(75, 192, 192, 1)',
                }],
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        stepSize: 10, // Set step size for y-axis
                    },
                },
            },
        });
        });
    </script>
    {% block script %}{% endblock %}
</body>

</html>