{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Revenue Categories{% endblock title %}

{% block content %}

<!-- Page title -->
<div class="page-header d-print-none">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">
                Revenue Categories
            </h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Revenue Categories</li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="row gx-lg-5">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">New Revenue Category</h3>
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="col-12 mb-2">
                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% if field.errors %}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success">Create</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Revenue Categories</h3>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.created }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
