{% extends "base.html" %}
{% load humanize widget_tweaks %}

{% block title %}Tax Payers{% endblock title %}

{% block navbar-action %}
<div class="nav-item">
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-create">
        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
            stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <line x1="12" y1="5" x2="12" y2="19" />
            <line x1="5" y1="12" x2="19" y2="12" />
        </svg>
        New Tax Payer
    </a>
</div>
{% endblock navbar-action %}

{% block content %}

<!-- Page title -->
<div class="page-header d-print-none">
    <div class="row align-items-center">
        <div class="col">
            <h2 class="page-title">
                Tax Payers Records
            </h2>
            <div class="text-muted mt-1">{{ tax_payers.start_index }}-{{ tax_payers.end_index }} of
                {{ tax_payers.paginator.count }} tax payer{{ tax_payers.paginator.count|pluralize }}</div>
        </div>
        <!-- Page title actions -->
        <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">
                <a href="{% url 'tax_payer_list' %}?download_excel=1" class="btn btn-primary">Download Report</a>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="row my-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <h3 class="card-title">List of Registered Tax Payers</h3>
                    <div class="ms-auto text-muted">
                        <div class="ms-2 d-inline-block">
                            <form method="GET" action="{% url 'tax_payer_list' %}">
                                <div class="input-group">
                                    <input type="text" id="search" class="form-control form-control-sm" placeholder="Search..." name="q" value="{{ request.GET.q }}">
                                    <button type="submit" class="btn btn-warning" title="Search"><i class="fas fa-search"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tax Payer</th>
                                <th>TIN</th>
                                <th>Email</th>
                                <th>Phone number</th>
                                <th>Created</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in tax_payers %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.tin }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.phone }}</td>
                                <td><a href="{% url 'tax_payer_detail' user.id %}">View</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex mt-4">
        <div class="ms-auto">
            {% include 'partials/_pagination.html' with page_obj=tax_payers %}
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-create" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Tax Payer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action=".">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row mb-3 align-items-end">
                        {% for field in form %}
                        <div class="col-12 mb-2">
                            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {% render_field field class="form-control" %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                            {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Create Tax Payer</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}